* {
  margin: 0;
  padding: 0;
}
html {
  scroll-behavior: smooth;
}
html, body {
  height: 100%;
}
section {
  position: relative;
  width: 100%;
  height: 100%;
}
section::after {
  position: absolute;
  bottom: 0;
  left: 0;
  content: '';
  width: 100%;
  height: 80%;
  background: -webkit-linear-gradient(top,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
  background: linear-gradient(to bottom,rgba(0,0,0,0) 0,rgba(0,0,0,.8) 80%,rgba(0,0,0,.8) 100%);
}
section h1 {
  opacity: 1;
  -webkit-transition: opacity 2s ease-in;
     -moz-transition: opacity 2s ease-in;
      -ms-transition: opacity 2s ease-in;
       -o-transition: opacity 2s ease-in;
          transition: opacity 2s ease-in;
  position: absolute;
  top: 48%;
  left: 30%;
  z-index: 2;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: #fef1e3;
  font : normal 200 22px 'Inter', sans-serif;
  text-align: left;
  width: 45%;
  line-height: initial;
}
#section01 { background: url(images/site_bg3.jpg) center center / cover no-repeat;}
.page a {
  position: absolute;
  bottom: 20px;
  z-index: 2;
  display: inline-block;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #fef1e3;
  font : normal 300 24px 'halogen', sans-serif;
  letter-spacing: .1em;
  text-decoration: none;
  transition: opacity .3s;
  left: 50%;
  width: 250px;
  margin-left: -125px;
  text-align: center;
}
.page a:hover {
  opacity: .5;
}
#section01 a, #contact a {
  padding-top: 70px;
}
#section01 a span, #contact a span {
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 2px solid #ff470f;
  border-bottom: 2px solid #ff470f;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-animation: sdb05 1.5s infinite;
  animation: sdb05 1.5s infinite;
  box-sizing: border-box;
}
@-webkit-keyframes sdb05 {
  0% {
    -webkit-transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
@keyframes sdb05 {
  0% {
    transform: rotate(-45deg) translate(0, 0);
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    transform: rotate(-45deg) translate(-20px, 20px);
    opacity: 0;
  }
}
#contact {
	background-color: #ffb683;
}
#email-us {
	position: absolute;
	top: 30%;
	left: 37%;
	z-index: 2;
	color: white;
}
button {
	padding: 15px 25px;
	font: normal 400 20px 'Inter', sans-serif;
	color: white;
	background-color: #ff470f;
	border: none;
	border-radius: 5px;
	cursor: pointer;
	opacity: .9;
}
button:hover {
  opacity: .8;
}
.logo-img {
	width: 150px;
	padding: 2% 0 0 2%;
	display: block;
}
h3 {
	font: normal 200 28px 'Inter', sans-serif;
	padding-bottom: 40px;
}
h2 {
	font : normal 300 48px 'halogen', sans-serif;
	padding-bottom: 10px;
}
